@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 263 100% 95%;
    --foreground: 263 5% 0%;
    --card: 0 0% 100%;
    --card-foreground: 263 5% 10%;
    --popover: 263 100% 95%;
    --popover-foreground: 263 100% 0%;
    --primary: 263 47.8% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 263 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 225 30% 85%;
    --muted-foreground: 263 5% 35%;
    --accent: 225 30% 80%;
    --accent-foreground: 263 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 263 5% 90%;
    --border: 263 30% 50%;
    --input: 263 30% 18%;
    --ring: 263 47.8% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 262 50% 5%;
    --foreground: 262 5% 90%;
    --card: 0 0% 10%;
    --card-foreground: 262 5% 90%;
    --popover: 262 50% 5%;
    --popover-foreground: 262 5% 90%;
    --primary: 262 62.1% 18.6%;
    --primary-foreground: 0 0% 100%;
    --secondary: 262 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 224 30% 15%;
    --muted-foreground: 262 5% 60%;
    --accent: 224 30% 15%;
    --accent-foreground: 262 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 262 5% 90%;
    --border: 262 30% 18%;
    --input: 262 30% 18%;
    --ring: 262 62.1% 18.6%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
